<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <title>Biscoff Bakery - Admin</title>
</head>

<body>
    <div class="hero-image">
        <h1 class="title myhero-title">Biscoff Bakery - Admin</h1>
    </div>

    <div class="my-section">
        <a class="button bottom" href="/admin/add">Add New Product</a>
    </div>

    <div class="my-section">
        <hr>
        <div class="columns">
            <div class="column is-one-fifth">
                &nbsp;
            </div>
            <div class="column is-two-fifths">
                Product Name
            </div>
            <div class="column is-one-fifths">
                Unit Price
            </div>
            <div class="column is-one-fifths">
                Action
            </div>
        </div>
        <%products.forEach((product,idx)=>{%>
            <%- include('./partials/be-listing.ejs', {product, idx}) %>
        <%})%>
    </div>
</body>

</html>